<h1>Mi carrito</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.product.title}}</strong> -
      Cantidad: {{this.quantity}} -
      Precio unitario: ${{this.product.price}} -
      Subtotal: ${{multiply this.quantity this.product.price}}
    </li>
  {{/each}}
</ul>
